@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

#levels {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background-color: black;
    width: 400px;
    height: 800px;
    overflow: hidden;
}
#levels-header {
    color: white;
    width: 100%;
    text-align: center;
    top: 10%;
    font-size: 4rem;
    user-select: none;
    font-family: "Funnel Display", sans-serif;
    margin: 0;
    margin-bottom: 10px;
}
#levels-header > span {
    margin-left: -5px;
    margin-right: -5px;
}
#levels-header > span:nth-child(1) {
    color: red;
}
#levels-header > span:nth-child(2) {
    color: green;
}
#levels-header > span:nth-child(3) {
    color: blue;
}
#levels-header > span:nth-child(4) {
    color: yellow;
}
#levels-header > span:nth-child(5) {
    color: orange;
}
#levels-header > span:nth-child(6) {
    color: lightblue;
}
#levels-holder {
    background-color: transparent;
    width: 100%;
    height: calc(90% - 3rem);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}
#levels-return {
    width: 45px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 1000px;
    position: absolute;
    top: 0;
    margin-left: 5px;
    margin-top: 15px;
}
#levels-return > img {
    width: 35px;
    aspect-ratio: 1/1;
}

.separator {
    width: 100%;
    position: relative;
    height: 35px;
    left: 50%;
    translate: -50%;
}
.separator > h1 {
    position: absolute;
    color: white;
    font-family: "Funnel Display", sans-serif;
    font-size: 1.5rem;
    margin: 0;
    top: 50%;
    translate: 0 -50%;
    margin-left: 12px;
    user-select: none;
}
.separator > img {
    height: 60%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    right: 0;
    margin: 0;
    margin-right: 15px;
}

.level-select {
    width: 100%;
    position: relative;
    height: 50px;
    left: 50%;
    translate: -50%;
    margin-bottom: 10px;
    cursor: pointer;
}
.level-select > h2 {
    user-select: none;
    font-family: "Funnel Display", sans-serif;
    font-size: 2rem;
    position: absolute;
    margin: 0;
    margin-left: 12px;
}
.level-select > h3 {
    user-select: none;
    font-family: "Funnel Display", sans-serif;
    font-size: 0.75rem;
    position: absolute;
    margin: 0;
    color: grey;
    bottom: 0;
    margin-left: 12px;
}
.level-select > p {
    user-select: none;
    font-family: "Funnel Display", sans-serif;
    font-size: 2rem;
    position: absolute;
    margin: 0;
    color: grey;
    right: 0;
    top: 50%;
    translate: 0 -50%;
    margin-right: 50px;
}
.level-select > img {
    height: 42.5%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    right: 0;
    margin: 0;
    margin-right: 15px;
}
.level-select > div {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.1s;
}

#level-selector {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#header, #level-header {
    position: absolute;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}
#level-selector-return, #level-header-return {
    height: 90%;
    aspect-ratio: 1/1;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 1000px;
    border: 3px solid white;
    background-color: transparent;
    cursor: pointer;
    color: white;
    font-family: "Funnel Display", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s;
}
#level-selector-return > p, #level-header-return > p {
    font-size: 2rem;
}
#level-selector-return > img, #level-header-return > img {
    width: 100%;
    height: 100%;
    border-radius: 1000px;
}
#level-selector-name, #level-header-name {
    color: white;
    font-family: "Funnel Display", sans-serif;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% -4px;
    text-align: center;
    width: 72.5%;
    user-select: none;
}
#level-selector-sections {
    height: calc(100% - 55px);
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
}
#level-selector-sections > div {
    height: 100%;
    width: 100%;
    position: absolute;
    display: inline-block;
}
#level-selector-sections > div > div {
    width: 75%;
    height: 75%;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}
#level-selector-sections > div > div > h1 {
    color: white;
    font-family: "Funnel Display", sans-serif;
    font-size: 2rem;
    text-align: left;
    user-select: none;
    text-align: center;
}
#level-selector-sections > div > div > div {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 85%;
    width: 100%;
    text-align: center;
}
#level-selector-sections > div > div > div > button {
    width: 45px;
    border: 4px solid;
    aspect-ratio: 1/1;
    margin: 2px;
    cursor: pointer;
    color: white;
    font-family: "Funnel Display", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    user-select: none;
    position: relative;
    transition: filter 0.1s;
}
#level-selector-sections > div > div > div > button:hover {
    filter: brightness(1.1);
}
#level-selector-sections > div > div > div > button > img {
    width: 70%;
    height: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}
#pages-count {
    position: absolute;
    left: 50%;
    bottom: 5%;
    translate: -50%;
    width: 80%;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#pages-count > div {
    background-color: rgb(162, 162, 162);
    border-radius: 1000px;
    width: 15px;
    aspect-ratio: 1/1;
    margin: 5px;
}

#level {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}
#complete-dialogue {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 80%;
    height: 25%;
    z-index: 5;
    background-color: black;
    border: 3px solid rgb(3, 170, 3);
    z-index: 11;
}
#complete-dialogue > h1 {
    color: white;
    font-family: "Funnel Display", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: green;
    border-bottom: 3px solid rgb(3, 170, 3);
    margin: 0;
    user-select: none;
}
#complete-dialogue > button {
    position: relative;
    left: 50%;
    translate: -50%;
    display: block;
    width: 75%;
    height: 45px;
    background-color: black;
    border: 3px solid white;
    top: 29.5%;
    margin-top: 10px;
    color: white;
    font-family: "Funnel Display", sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.1s, color 0.1s;
    user-select: none;
}
#complete-dialogue > button:hover {
    background-color: white;
    color: black;
}
#complete-dialogue > img {
    position: absolute;
    right: 0;
    top: 0;
    width: 1.5rem;
    aspect-ratio: 1/1;
    margin-top: 2.5px;
    margin-right: 2.5px;
    cursor: pointer;
}
#background-darkness {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 10;
}
#next-level-extra {
    position: absolute;
    left: 50%;
    translate: -50%;
    border-radius: 10000px;
    border: 3px solid white;
    cursor: pointer;
    transition: background-color 0.1s;
    bottom: 15%;
    width: 60px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
#next-level-extra > img {
    width: 50px;
    aspect-ratio: 1/1;
    rotate: 180deg;
}

@media (width < 800px) {
    #levels {
        width: 100%;
        height: 100%;
    }
}